# --- Python ---
__pycache__/
*.pyc
*.py[cod]
*$py.class

# --- Entorno Virtual ---
venv/
.venv/
env/

# --- Base de Datos y Archivos Sensibles ---
instance/
*.db
*.db.old
*.sqlite3
*.sqlite
*.kdbx
.env


# --- IDEs (Configuraciones de tu editor) ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Docker ---
*.tar

# --- Logs ---
*.log

# Build
build/
dist/
*.spec

# Temporary files
*.tmp
*.temp

# --- Secrets ---
*.pem
*.crt
certificado/
certificado.py
migrar DB modificada.txt
Portal-Operations-Tools.spec
Docker
agency-agents/
.opencode/
#.claude/
legacy/
#CLAUDE.md
repomix-output.xml
SPECKIT_vault_csirt.md
