version: '3.8'

services:
  portal_tools:
    # Asegúrate que este nombre coincida con la imagen que cargaste con 'docker load'
    image: portal-operations-tools:v3
    container_name: OperationsTools
    restart: unless-stopped
  
    ports:
      - "8080:8080"
    
    # Persistencia de Datos (El volumen mágico)
    volumes:
      - portal_db:/app/instance

# Definición del volumen
volumes:
  portal_db: