{% extends "base.html" %}
{% block content %}
<div class="container">
    <h3>Resultados Análisis Manual</h3>
    <a href="{{ url_for('virustotal.analisis_manual') }}" class="btn btn-secondary mb-3">Volver / Nuevo Análisis</a>

    <div class="card shadow-sm">
        <table class="table table-hover mb-0">
            <thead class="table-dark">
                <tr>
                    <th>IoC</th>
                    <th>Tipo</th>
                    <th>Score</th>
                    <th>Enlace</th>
                </tr>
            </thead>
            <tbody>
                {% for item in resultados %}
                <tr>
                    <td class="font-monospace">{{ item.valor }}</td>
                    <td>{{ item.tipo }}</td>
                    <td>
                        {% if item.vt_score == 'Not Found' %}
                            <span class="badge bg-secondary">No encontrado</span>
                        {% else %}
                             <span class="badge bg-primary">{{ item.vt_score }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ item.vt_permalink }}" target="_blank" class="btn btn-sm btn-outline-primary"><i class="bi bi-box-arrow-up-right"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}